@font-face {
  font-family: "heading-now-bold";
  src: url("Fonts/heading-now/HeadingNow-46Bold.otf") format("opentype");
}

@font-face {
  font-family: "heading-now-regular54";
  src: url("Fonts/heading-now/HeadingNow-84Regular.otf") format("opentype");
}

@font-face {
  font-family: "heading-now-regular-2";
  src: url("Fonts/HeadingNow-32Light.otf") format("opentype");
}
@font-face {
  font-family: "heading-now-96";
  src: url("Fonts/heading-now/HeadingNow-85Medium.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .section:nth-child(1) {
  background: url("images/1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(2) {
  background: url("images/2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(3) {
  background: #072033 url("images/3.jpg");
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  background-attachment: fixed;
}
.container .section:nth-child(4) {
  background: black url("images/4.png");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(5) {
  background: black url("images/5.jpg");
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  background-attachment: fixed;
}
.container .section:nth-child(6) {
  background: black url("images/6.png");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40px;
}

body {
  color: white;
  text-transform: uppercase;
}

h1 {
  font-family: "heading-now-bold";
}

h3 {
  font-family: "heading-now-regular54";
}

p {
  font-family: "heading-now-regular-2";
  font-size: 20px;
}

img {
  margin-left: 10px;
}

/*  page 1 */
.page1 {
  font-family: "heading-now-bold";
}
.page1 h1 {
  padding: 30px;
}
.page1 h2 {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#countdown li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  padding: 0px 20px 0px 20px;
  display: block;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.694);
  border-radius: 5px;
}

/* Page 2 */
.page2 {
  font-family: "heading-now";
}

.page2 h3 {
  text-align: center;
  padding: 30px;
  font-size: 10vh;
}

/* Page 3 */

#line1 {
  border-left: 1px solid rgb(255, 255, 255);
  height: 100vh;
  position: absolute;
  left: 50%;
}

.page3 h1 {
  font-family: "heading-now-96";
  margin-left: 55%;
  padding-top: 30px;
  font-size: 3em;
}

/* Page 4  */
.page4 h1 {
  font-family: "heading-now-96";
  padding-top: 30px;
  font-size: 3em;
  padding-left: 40px;
}
.page4 p {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 2em;
}

/* page 5 */
.page5 h1 {
  font-family: "heading-now-96";
  margin-left: 55%;
  padding-top: 30px;
  font-size: 3em;
}

.page5 p {
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-size: 3em;
}

/* Page 6 */
.page6 {
  text-align: center;
  border: 1px solid white;
  margin: 0px 35%;
  padding: 20px;
}

#countdown li {
  font-family: "heading-now-bold";
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  padding: 0px 20px 0px 20px;
  display: block;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 5px;
}

#launching {
  padding-top: 40%;
}

#get-notified {
  padding-top: 100px;
  margin-bottom: 50px;
}

/* mailchimp signup */
#mc_embed_signup {
  border: none;
  text-align: center;
  width: 100%;
} /* Signup form container */

.mc-field-group {
  display: inline-block;
  color: white;
} /* positions input field horizontally */

#mce-EMAIL {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.349);
  padding: 0.7em 9em 0.7em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
} /* Input Styles */

.clear {
  display: inline-block;
} /* positions button horizontally in line with input */

.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #2badb997;
  padding: 0.7em 2em;
  border: 2px solid #2badb997;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 30px;
} /* Button Styles */

:-webkit-input-placeholder {
  color: #ffff;
} /* WebKit browsers */
:-moz-placeholder {
  color: #ffff;
} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {
  color: #ffff;
} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {
  color: #ffff;
} /* Internet Explorer 10+ */

/* SCROLL */

#dot-nav {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
  font-size: 30px;
  color: white;
  text-align: center;
}

#dot-nav img {
  padding-right: 10px;
  padding-top: 20px;
}

#dot-nav a {
  color: white;
  text-decoration: none;
}
.active,
.dot:hover {
  -webkit-text-stroke: 5px red;
}

li.active a {
  /* border-top: 3px solid #333; */
  color: red;
}

/* down arrows */
.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 768px) {
  /* positions input field and button underneath each other with 100% width for tablet and mobile */

  .mc-field-group {
    display: block;
    max-width: 100%;
  }

  #mce-EMAIL {
    padding: 0.7em 0 0.7em 1em;
    width: 96%;
    margin: 0;
  }
  .clear {
    display: block;
    width: 100%;
  }
  .button {
    width: 100%;
    margin: 0.5em 0 0 0;
  }

  .page2 h3 {
    font-size: 30px;
    word-wrap: break-word;
  }

  .page3 h1 {
    font-size: 30px;
    word-wrap: break-word;
    margin-left: 0px;
  }
  #line1 {
    display: none;
  }
  .page5 h1 {
    font-size: 30px;
    word-wrap: break-word;
    margin-left: 0px;
  }
  .page6 {
    margin: 0px;
    border:none;
  }

}

@media (max-width: 480px) {
  .container .section:nth-child(1) {
    background: url("images/7.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  .container .section:nth-child(3) {
    background: url("images/3.jpg");
    background-size: 100vw 100vh;
  }
  .container .section:nth-child(4) {
    background: url("images/8.jpg");
    background-size: 100vw 100vh;
  }
  .container .section:nth-child(5) {
    background: url("images/5.jpg");
    background-size: 100vw 100vh;
  }
  .container .section:nth-child(6) {
    background: black;
  }
}
